node_modules
merged_files
artifacts/
artifacts/@openzeppelin/contracts/access/Ownable.sol/Ownable.dbg.json
artifacts/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.dbg.json
artifacts/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.dbg.json
artifacts/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.dbg.json
artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
artifacts/build-info/6e7e1ec0c1740353b86b5cd200363e48.json
artifacts/build-info/77f036bcad39b635c0fa9a156e4b33d4.json
artifacts/build-info/b33b34cd8630cc415c578502ef2175d0.json
artifacts/build-info/fbc2f9bcc14691e3be39f153a748c3b6.json
artifacts/contracts/exchange.sol/TokenExchange.dbg.json
artifacts/contracts/exchange.sol/TokenExchange.json
artifacts/contracts/interfaces/IERC20.sol/IERC20.dbg.json
artifacts/contracts/Lock.sol/Lock.dbg.json
artifacts/contracts/token.sol/Token.dbg.json
artifacts/contracts/token.sol/Token.json
artifacts/hardhat/console.sol/console.dbg.json
cache/solidity-files-cache.json
artifacts/@openzeppelin/contracts/access/Ownable.sol/Ownable.dbg.json
artifacts/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.dbg.json
artifacts/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.dbg.json
artifacts/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.dbg.json
artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
artifacts/build-info/77f036bcad39b635c0fa9a156e4b33d4.json
artifacts/build-info/fbc2f9bcc14691e3be39f153a748c3b6.json
artifacts/contracts/exchange.sol/TokenExchange.dbg.json
artifacts/contracts/exchange.sol/TokenExchange.json
artifacts/contracts/interfaces/IERC20.sol/IERC20.dbg.json
artifacts/contracts/Lock.sol/Lock.dbg.json
artifacts/contracts/token.sol/Token.dbg.json
artifacts/contracts/token.sol/Token.json
artifacts/hardhat/console.sol/console.dbg.json
cache/solidity-files-cache.json
artifacts/@openzeppelin/contracts/access/Ownable.sol/Ownable.dbg.json

artifacts
merged_files
node_modules
.cache
```
